*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"SimSun", "Microsoft YaHei";
    height: 100%;
}
a{
    color: #1170b4;
}
.header{
    width: 100%;
    height: 114px;
}
.header-span{
    width: 80%;
    height: 8px;
    background: #a6c2de;
    margin: 0 auto;
}
.logo{
    position: absolute;
    top:5px;
    width: 461px;
    height: 75px;
    background: url("../image/logo.png") no-repeat;
}
.header-nav{
    list-style: none;
    margin-top:15px ;
    text-align:center;
    margin-left: 500px;
}
.header-nav li{
    float: left;
    color: #1170b4;
    margin-right: 10px;
}
.header-nav li a{
   display: block;
    width: 150px;
    height: 60px;
    line-height: 70px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
.header-nav .on a{
    background-color: #1170b4;
    color: #fff;
}
.header-nav li a:hover{
    background-color: #1170b4;
    color: #fff;
}
.out a{
    color: #1170b4;
}
.header-foot{
    margin-top: 75px;
    height: 20px;
    background-color: #1170b4;
}
.main-contennt{
    position:relative;
}
.content{
    width:100%;
    height: 540px;
    margin:-10px auto 0 auto;
    position:relative;
}
.left-menu {
    list-style: none;
    position: absolute;
    width: 14%;
    height: 540px;
}
.left-nav1 li{
    width: 100%;
}
.left-nav1 li a{
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 0.4em 0.8em;
    text-decoration: none;
    color: #1170b4;
}
.left-nav1>li>a:hover{
    background: #1170b4;
    color: #fff;
}

.list-title-up .icon{
    display: inline-block;
    background: url("../image/up.png") no-repeat;
    height: 16px;
    width: 16px;
    margin-right: 10px;
}
.list-title-up a:hover .icon{
    background: url("../image/up2.png") no-repeat;
}
.list-title-down .icon{
     display: inline-block;
    background: url("../image/down2.png") no-repeat;
    height: 16px;
    width: 16px;
    margin-right: 10px;
}
.list-title-down a:hover .icon{
     display: inline-block;
    background: url("../image/down.png") no-repeat;
    height: 16px;
    width: 16px;
    margin-right: 10px;
}
.left-one-submenu{
    list-style: none;
    display: none;
    margin-left: 20px;
    width: 280px;
}
.left-one-submenu li{
    width: 280px;
}
.left-one-submenu li a{
    text-decoration: none;
    color: #5B5B5B;
     display: inline-block;
}
.dynamic-ship-list{
    width: 280px;
    cursor: pointer;
}
.dynamic-ship-list a{
    text-decoration: none;
    color: #5B5B5B;
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
}
.edit{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../image/edit.png") no-repeat;
    margin-left: 25px;
    vertical-align: middle;
    cursor: pointer;
}
.del{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../image/del.png") no-repeat;
    margin-left: 15px;
    vertical-align: middle;
    cursor: pointer;
}
.left-nav2{
    display: none;
}
.map {
    position: absolute;
    right: 0;
    left: 14%;
    width: 85%;
    height: 540px;
    border-left: 1px solid #ccc;
}

.add-ship {
    width: 555px;
    height: 532px;
    position: absolute;
    left: 50%;
    margin-left: -240px;
    margin-top: 5px;
    display: none;
    /*background-color: #fff;*/
     background: url("../image/addship-bg.png") no-repeat;
    /*border: solid 1px #ccc;*/
}
#popup-top {
    height: 35px;
    line-height: 35px;
    margin-bottom: 24px;
    color: #1170b4;
    font-weight: 700;
    font-size: 18px;
    border-bottom: solid 1px #ccc;
    text-indent: 16px;
}
.btnclose{
    background: url("../image/close.png") no-repeat;
    position:absolute;
    right:1%;
    top:1%;
    display: inline-block;
    height: 22px;
    width: 23px;
    cursor: pointer;
}
.btnclose:hover{
    background: url("../image/close2.png") no-repeat;
}
.add-ship div {
    color: #1170b4;
    font-size: 16px;
    margin-bottom: 20px;
    text-indent: 16px;
}
.add-ship div label {
    float: left;
    width: 113px;
    height: 30px;
    line-height: 30px;
    margin-left: 65px;
}
.add-ship div input {
    font-size: 16px;
    width: 220px;
    height: 30px;
    line-height: normal;
    padding: 0;
    border: solid 1px #ccc;
}
#addShipSubmit {
    margin-left: 85px;
    width: 333px;
    height: 40px;
    border: none;
    background: #1170b4;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}
#addShipSubmit :hover{
    background: #0072E3;
}
.error {
    display: inline-block;
    width: 128px;
    height: 16px;
    font-size: 13px;
    color: orangered;
    background: url("../image/error.png") no-repeat;
}

.drawtype{
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 40%;
    height: 35px;
    font-size: 14px;
}
#measure-popup{
    width: 200px;
    height: 100px;
    position: absolute;
    left: 16%;
    background: url("../image/measure.png") no-repeat;
    display: none;
    overflow: auto;
}
#measure-popup-top {
    height: 30px;
    line-height: 30px;
    cursor: move;
    color: #1170B4;
    text-indent: 1em;
    border-bottom: 1px solid #ccc;
    /* vertical-align: middle; */
}
#measure-popup .btnclose{
    right: 0;
    top: 3%;
    cursor: pointer;
}
#measureOutput{
    color: #1170B4;
    text-indent: 10px;
}

/*地图上一些工具*/
#switch{
    position:absolute;
    right:20pt;
    top:40pt;
    z-index:999;
}
.ol-zoomslider{
    background: #d0e5f5;
    width: 20px;
}
.zoom-to-extent{
    position: absolute;
    top: 5pt;
    left: 28pt;
}
.map-rotate{
    position: absolute;
    top: 5pt;
}
#location{
    position: absolute;
    bottom: 0;
    right: 10%;
    font-weight: bold;
    z-index: 99;
}
.custom-mouse-position{
    width: 200px;
    height: 40px;
    background: #fff;
    border: 1px solid #ccc;
    color: #000;
}
